#-----------------------------
# Authentication TOML files
#
# Configure this to specify where the authentication toml
# files are located.
#-----------------------------
DOCKER_TOML=data/docker.toml
GIT_TOML=data/git.toml

#-----------------------------
# Burp secrets
#
# Configure this to specify the authentication
# details for the HTTP server.
#-----------------------------
BURP_SECRET=
BURP_SIGNATURE=

#-----------------------------
# SSL Configuration
#
# Specify where the SSL certificates are located, otherwise
# the server will auto-generate its own SSL certificates.
#-----------------------------
SSL_CERTIFICATE_PATH=
SSL_KEY_PATH=